// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

[class*="fa-"] {
    font-family: "fontawesome";
    font-style: normal;
}

.cursor-pointer {
    cursor: pointer;
}